# --- Python basics ---
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo

# Byte-compiled / optimized / DLL files
*$py.class

# --- Virtual environments ---
.venv/
venv/
env/
ENV/

# --- Build / packaging ---
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.spec

# --- Sphinx docs ---
docs/_build/
docs/_ref/

# --- IDE :: PyCharm / IntelliJ ---
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/


# --- IDE :: VS Code ---
.vscode/

# --- OS / misc ---
.DS_Store
Thumbs.db

# --- Tooling caches ---
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.cache/
